In [1]:
import json
import io
import time
from pprint import pprint
post_list = {}
with open('tinyTwitter.json','r', encoding="utf-8") as data_file:    
    data = json.load(data_file)

In [2]:
import numpy
json1_file = open('tinyTwitter.json',encoding="utf-8")
json1_str = json1_file.read()
json1_data = json.loads(json1_str)
datapoints = numpy.array(json1_data['rows'])

In [9]:
import pandas as pd
dataset = pd.DataFrame.from_dict(data['rows'])
dataset

,id,key,value,doc
0,1212161512334336000,"[sydney, 2020, 1, 1]",1,"{'_id': '1212161512334336000', '_rev': '1-a51c..."
1,1212161512770437121,"[sydney, 2020, 1, 1]",1,"{'_id': '1212161512770437121', '_rev': '1-1f22..."
2,1212161513361793024,"[sydney, 2020, 1, 1]",1,"{'_id': '1212161513361793024', '_rev': '1-3705..."
3,1212161513580105733,"[sydney, 2020, 1, 1]",1,"{'_id': '1212161513580105733', '_rev': '1-85d9..."
4,1212161514112770048,"[sydney, 2020, 1, 1]",1,"{'_id': '1212161514112770048', '_rev': '1-a301..."
...,...,...,...,...
994,1212167190352449536,"[sydney, 2020, 1, 1]",1,"{'_id': '1212167190352449536', '_rev': '1-d05a..."
995,1212167192311037952,"[sydney, 2020, 1, 1]",1,"{'_id': '1212167192311037952', '_rev': '1-50ec..."
996,1212167194848550912,"[sydney, 2020, 1, 1]",1,"{'_id': '1212167194848550912', '_rev': '1-d501..."
997,1212167196429783040,"[sydney, 2020, 1, 1]",1,"{'_id': '1212167196429783040', '_rev': '1-c2fe..."
998,1212167199793614848,"[sydney, 2020, 1, 1]",1,"{'_id': '1212167199793614848', '_rev': '1-144b..."

In [4]:
subdata = data["rows"]
doc_content = []
language = []
for post in subdata:
    doc_content.append(post["doc"]['entities'])
    language.append(post["doc"]['lang'])
subdataset = pd.DataFrame(doc_content)
# subdataset.columns
# language

In [6]:
from collections import defaultdict, Counter

hashtags = subdataset.hashtags
nonempty_hashtags = []
for i in hashtags:
    if i!=[]:
        nonempty_hashtags.append(i[0]["text"]) 
nonempty_hashtags
tfs = Counter()
for tag in nonempty_hashtags:
    tfs[tag.lower()]+=1
tfs.most_common(10)

[('climatechange', 5),
 ('scottyfrommarketing', 5),
 ('sonicmovie', 4),
 ('bushfiresnsw', 3),
 ('sydney', 2),
 ('climate', 2),
 ('happynewyear', 2),
 ('nswfires', 2),
 ('fireworks', 2),
 ('auspol', 2)]

In [31]:
def extract_tags(data):
    dataset = pd.DataFrame.from_dict(data['rows'])
    subdata = data["rows"]
    doc_content = []
    tfs = Counter()
    language_count = Counter()
    for post in subdata:
        doc_content.append(post["doc"]['entities'])
        language_count[post["doc"]['lang']]+=1
    subdataset = pd.DataFrame(doc_content)
    hashtags = subdataset.hashtags
    for i in hashtags:
        for tag in i:
            tfs[tag["text"].lower()]+=1
    return (tfs.most_common(10), language_count.most_common(10))

extract_tags(data)

([('climatechange', 6),
  ('scottyfrommarketing', 6),
  ('auspol', 6),
  ('australiaburns', 5),
  ('sonicmovie', 4),
  ('bushfiresnsw', 3),
  ('nswfires', 3),
  ('sydnye', 2),
  ('sydney', 2),
  ('climate', 2)],
 [('en', 832),
  ('und', 69),
  ('fr', 18),
  ('pt', 17),
  ('es', 16),
  ('th', 9),
  ('tl', 6),
  ('ar', 4),
  ('zh', 4),
  ('de', 4)])

In [33]:
import os
import time

start = time.time()
with open('smallTwitter.json','rb+') as data_file:
    data_file.seek(data_file.tell()-2, os.SEEK_END)
    data_file.truncate()
with open('smallTwitter.json','a') as data_file:
    data_file.write("]}")
with open('smallTwitter.json','r', encoding="utf-8") as data_file:
    small_data = json.load(data_file)
print(extract_tags(small_data))

end = time.time()
print("We used ",end - start,"seconds")

([('scottyfrommarketing', 31), ('auspol', 31), ('climatechange', 29), ('australiaburns', 24), ('australianfires', 22), ('sydnye', 19), ('sonicmovie', 17), ('goavsgo', 13), ('nswfires', 12), ('เป๊กผลิตโชค', 12)], [('en', 4127), ('und', 302), ('pt', 101), ('fr', 92), ('th', 83), ('es', 61), ('ja', 32), ('tl', 27), ('in', 22), ('ko', 22)])
We used  1.1809797286987305 seconds

In [ ]:
import time

start = time.time()
print("hello")
end = time.time()
print(end - start)